In [1]:
import numpy as np
import pandas as pd

In [2]:
train_data = pd.read_csv('/kaggle/input/route-ai-innovators-challenge/train.csv')
test_data = pd.read_csv('/kaggle/input/route-ai-innovators-challenge/test.csv')

In [3]:
train_data

,Unnamed: 0,age,sex,dzgroup,dzclass,num.co,edu,income,scoma,charges,...,crea,sod,ph,glucose,bun,urine,adlp,adls,adlsc,hospdead
0,2793,79.85199,female,MOSF w/Malig,ARF/MOSF,2,NaN,$11-$25k,0.0,38248.000,...,1.399902,139.0,7.439453,132.0,38.0,1550.0,NaN,1.0,1.000000,0
1,4682,56.93399,male,ARF/MOSF w/Sepsis,ARF/MOSF,1,NaN,NaN,0.0,178049.000,...,0.599976,133.0,7.409180,238.0,25.0,1485.0,NaN,NaN,2.515625,0
2,4518,67.55096,male,MOSF w/Malig,ARF/MOSF,1,NaN,NaN,37.0,49159.000,...,3.099609,129.0,7.339844,108.0,103.0,380.0,NaN,NaN,1.974365,1
3,4499,62.15698,female,ARF/MOSF w/Sepsis,ARF/MOSF,4,8.0,under $11k,0.0,43691.000,...,0.500000,137.0,7.409180,94.0,12.0,1963.0,NaN,NaN,3.624512,0
4,2067,36.36099,male,ARF/MOSF w/Sepsis,ARF/MOSF,3,12.0,NaN,0.0,49378.000,...,0.799927,148.0,7.439453,NaN,NaN,NaN,4.0,3.0,3.000000,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8189,8200,84.62695,female,CHF,COPD/CHF/Cirrhosis,4,13.0,NaN,0.0,7392.000,...,1.799805,134.0,NaN,NaN,NaN,NaN,1.0,NaN,1.166900,0
8190,7770,43.60300,female,ARF/MOSF w/Sepsis,ARF/MOSF,1,NaN,under $11k,0.0,83252.000,...,0.799927,137.0,7.409180,NaN,NaN,NaN,NaN,2.0,2.000000,0
8191,6259,40.62698,male,ARF/MOSF w/Sepsis,ARF/MOSF,0,NaN,NaN,0.0,62342.000,...,1.099854,132.0,7.419922,NaN,NaN,NaN,NaN,0.0,0.000000,0
8192,1829,80.15900,male,ARF/MOSF w/Sepsis,ARF/MOSF,2,11.0,$25-$50k,0.0,131511.000,...,1.899902,141.0,7.399414,NaN,NaN,NaN,NaN,1.0,1.000000,0
8193,4056,83.79999,male,Lung Cancer,Cancer,2,16.0,under $11k,9.0,6363.598,...,1.199951,145.0,7.439453,NaN,NaN,NaN,0.0,0.0,0.000000,0

In [4]:
test_data

,Unnamed: 0,age,sex,dzgroup,dzclass,num.co,edu,income,scoma,charges,...,bili,crea,sod,ph,glucose,bun,urine,adlp,adls,adlsc
0,8739,71.688976,female,ARF/MOSF w/Sepsis,COPD/CHF/Cirrhosis,2,11.925135,$25-$50k,-0.420200,3077.753246,...,6.757764,0.291617,133.557832,7.565056,NaN,NaN,77.887056,-0.661563,NaN,4.834415
1,3160,69.209076,male,ARF/MOSF w/Sepsis,ARF/MOSF,1,NaN,NaN,-0.902741,27825.014065,...,1.426255,0.447083,138.192835,7.718179,NaN,42.736036,3447.234913,NaN,-0.073922,5.477227
2,8600,63.228000,male,MOSF w/Malig,ARF/MOSF,1,16.000000,>$50k,0.000000,33619.000000,...,2.199707,3.399902,138.000000,7.339844,NaN,NaN,NaN,NaN,0.000000,0.000000
3,8270,76.894960,male,MOSF w/Malig,ARF/MOSF,2,19.000000,NaN,9.000000,29263.000000,...,NaN,1.399902,135.000000,NaN,NaN,NaN,NaN,NaN,6.000000,6.000000
4,11109,55.843018,male,Lung Cancer,Cancer,0,0.526638,$25-$50k,0.150011,NaN,...,2.438160,1.087291,143.360613,NaN,210.128631,2.169189,2233.392422,-0.485371,NaN,2.025654
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5637,9098,65.091115,female,ARF/MOSF w/Sepsis,Cancer,1,11.936099,NaN,35.400672,241158.739167,...,0.310178,0.456933,144.496289,7.678191,117.983502,6.452681,NaN,NaN,1.213162,0.530515
5638,7168,98.709977,female,CHF,COPD/CHF/Cirrhosis,2,3.091045,$25-$50k,-0.383597,572452.086559,...,-0.126419,0.825361,139.538872,7.623945,96.524142,NaN,NaN,NaN,0.727876,-0.014936
5639,5808,62.061980,male,Coma,Coma,0,16.000000,>$50k,9.000000,105947.000000,...,NaN,0.699951,139.000000,NaN,NaN,5.000000,2000.000000,NaN,NaN,1.856934
5640,2411,21.506000,female,ARF/MOSF w/Sepsis,ARF/MOSF,0,12.000000,$11-$25k,0.000000,78420.438000,...,0.799927,0.699951,137.000000,7.419922,NaN,NaN,NaN,NaN,0.000000,0.000000
5641,5399,60.820980,male,Coma,Coma,0,16.000000,$25-$50k,100.000000,3746.000000,...,0.399963,1.199951,130.000000,7.489258,NaN,NaN,NaN,NaN,0.000000,0.000000

In [5]:
y_train = train_data.hospdead

In [6]:
y_train

0       0
1       0
2       1
3       0
4       0
       ..
8189    0
8190    0
8191    0
8192    0
8193    0
Name: hospdead, Length: 8194, dtype: int64